    <div><a href="{{ path('proj_filtrat', {categoria:1}) }}">Categoria 1</a></div>
    <div><a href="{{ path('proj_filtrat', {categoria:2}) }}">Categoria 2</a></div>
    <div><a href="{{ path('proj_filtrat', {categoria:3}) }}">Categoria 3</a></div>